.progress-bar {
  height: 24px;
  width: 100%;
  transition: width 0.5s ease-in-out, background-color 0.5s;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 24px;
  border-radius: 10px;
}

/* Colores dinámicos */
.progress-red { background-color: #d32f2f; }
.progress-orange { background-color: #f57c00; }
.progress-yellow { background-color: #fbc02d; color: #333; }
.progress-green { background-color: #388e3c; }
